## Operadores no Python

### Adição

In [2]:
resposta = 30 + 12
print(resposta)

42

### Subtração

In [3]:
diferença = 30 - 12
print(diferença)

18

### Multiplicação

In [4]:
produto = 30 * 12
print(produto)

360

### Divisão

In [5]:
quociente = 30 / 12 
print(quociente)

2.5

In [6]:
# Trabalhar com divisão
segundos = 1042
display_minutes = segundos // 60
print(display_minutes)

17

In [7]:
segundos = 1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

17
22

In [11]:
resultado_1 = 1032 + 26 * 2
print(resultado_1)

1084

In [12]:
resultado_2 = 1032 + (26 * 2)
print(resultado_2)

1084

## Exercício - Operadores Matemáticos

### Create variables to store the distances

In [13]:
first_planet = 149597870
second_planet = 778547200

### Display distance between planets

In [15]:
distance_km = first_planet - second_planet
display(distance_km)

distance_mi = distance_km / 1.609344
display(distance_mi)

-628949330

-390810995.0389724

### Converter cadeias de caracteres em números

In [17]:
demo_int = int('215')
print(demo_int)

demo_float = float('215.3')
print(demo_float)

215
215.3

In [18]:
print(39 - 16)
print(16 - 39)

23
-23

In [19]:
print(abs((39 - 16)))
print(abs((16 - 39)))

23
23

### Arredondamento

In [20]:
print(round(14.5))

14

### Biblioteca de Matemática

In [21]:
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12

### Exercicio - Converter cadeias de caracteres em números e usar valores absolutos

In [28]:
# Read the values from the user.
first_planet_input = input("Enter the distance from the sun for the first planet in km")
second_planet_input = input("Enter the distance from the sun for the second planet in km")

In [29]:
# Convert to number
first_planet = int(first_planet_input)
second_planet = int(second_planet_input)

In [30]:
# Perform the calculation and convert to absolute value.

distance_km = abs(first_planet - second_planet)
print(distance_km)

91700000