<a href="https://colab.research.google.com/github/HLeunam/HLeunam/blob/main/Phyton_para_iniciantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Seção 1

In [ ]:
nome = "Henrique"
sobrenome = "Leunam"
NomeCompleto = nome + " " + sobrenome
print(NomeCompleto)

Henrique Leunam

In [ ]:
print (3*4)

12

In [ ]:
carro = "Gol"
ano = 2013
motor = 1.6

print("O carro é do modelo", carro,"do ano", ano, "com um motor", motor)

O carro é do modelo Gol do ano 2013 com um motor 1.6

# Variáveis

In [ ]:
produto = "mouse"
preço = 2.25
quantidade = 3

total = preço * quantidade
print(produto, total)

mouse 6.75

In [ ]:
A = 1
a = 10

print (A)
print (a)

1
10

In [ ]:
import keyword

In [ ]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# Tipo de Dados

In [ ]:
mes = "janeiro"
type(mes)

str

In [ ]:
numero = 10
type(numero)

int

In [ ]:
numero2 = 8.25
type(numero2)

float

In [ ]:
a = 5
b = 10
c = 5

a > b

False

In [ ]:
c < b

True

In [ ]:
comparacao = 10 == 8
type(comparacao)

bool

In [ ]:
comparacao = 10 == 8
print(comparacao)

False

# Operadores Aritméticos

In [ ]:
 soma = 13.4 + 23.2
 print(soma)

36.6

In [ ]:
subtracao = 120 - 59
print(subtracao)

61

In [ ]:
multiplicacao = 18 * 5
print(multiplicacao)

90

In [ ]:
divisao = 160/4
print(divisao)

40.0

In [ ]:
 potencia = 4 ** 2
 print(potencia)

16

In [ ]:
pow(4,3)

64

In [ ]:
divisaoInteira = 22//5
print(divisaoInteira)

4

In [ ]:
modulo = 22 % 5
print(modulo)

2

# Ordem de Precedência em Cálculos

In [ ]:
3 + 2 * 2

7

In [ ]:
(3+2) * 2

10

In [ ]:
3 ** 2 + 1

10

In [ ]:
3 ** (2+1)

27

In [ ]:
3 * 4 + 7

19

In [ ]:
5/2*4

10.0

# Entrada de Dados - Função INPUT

In [ ]:
input('Insira um número:')

Insira um número:50

'50'

In [ ]:
numero = input('Insira um número:')
print(numero)

Insira um número:55
55

In [ ]:
n1 = input("Insira um número:")
n2 = input("Insira outro número:")
soma = n1 + n2
print(soma)

Insira um número:8
Insira outro número:5
85

# Conversão de Tipo de Dados

In [ ]:
A = input("Digite um número: ")
B = input("Digite outro número: ")
soma = A + B
print("\na soma de A e B com tipo string é:", soma)

Digite um número: 50
Digite outro número: 25

a soma de A e B com tipo string é: 5025

In [ ]:
print(type(A))
print(type(B))

<class 'str'>
<class 'str'>

In [ ]:
A = float (input("Digite um número: "))
B = float (input("Digite outro número: "))
soma = A + B

print("\nA soma de A + B é igual a", soma)print(ty)

Digite um número: 25.12
Digite outro número: 14.13

A soma de A + B é igual a 39.25

In [ ]:
print(type(A))
print(type(B))

<class 'float'>
<class 'float'>

In [ ]:
nome = input("Digite o nome do aluno: ")
n1 = int (input("Digite a nota 1: "))
n2 = int (input("Digite a nota 2: "))
media = (n1 + n2) / 2
print("\nNome: ", nome, "\nMédia", media)

Digite o nome do aluno: João da Silva
Digite a nota 1: 85
Digite a nota 2: 35

Nome:  João da Silva
Média 60.0

In [ ]:
print (type(nome))
print (type(n1))
print (type(n2))
print (type(media))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

In [ ]:
teste = bool (input("Digite qualquer coisa:"))
print(teste)

Digite qualquer coisa:123213
True

In [ ]:
teste2 = bool (input("Aperte enter para deixar em branco: "))
print(teste2)

Aperte enter para deixar em branco:
False

In [ ]:
print(type(teste2))

<class 'bool'>

# Exercícios de fixação 1

In [ ]:
nome = "Henrique"
idade = 23
altura = 1.79
print (nome, idade, altura)

Henrique 23 1.79

In [ ]:
adicao = 2 + 5
multiplicacao = 2*5
divisao = adicao / multiplicacao
print(divisao)

0.7

In [ ]:
dia = 12
mes = "julho"
ano = 1999
print("Eu nasci em:", dia, mes,"de", ano)

Eu nasci em: 12 julho de 1999

In [ ]:
texto = "Jabuticaba"
numeroInt = 1
numeroDec = 0.25
VerdadeiroFalso =

# Estrutura Condicional Simples

In [ ]:
valor = int (input("Digite um número: "))

if valor > 10:
  print("O número digitado é maior que 10")

Digite um número: 5

In [ ]:
condicao = True

if condicao != False:
  print("Essa condição é diferente de false, logo, é verdadeira")

Essa condição é diferente de false, logo, é verdadeira

# Estrutura Condicional Composta

In [ ]:
cnh = input("Sua CNH é do tipo A ou B?")

if cnh == "A":
  print("Sua CNH é de moto")
elif cnh == "B":
  print("Sua CNH é de carro")

Sua CNH é do tipo A ou B?B
Sua CNH é de carro

In [ ]:
aluno = input("Digite o nome do aluno: ")
nota1 = float(input("Digite a nota 1: "))
nota2 = float(input("Digite a nota 2: "))
mediaFinal = (nota1 + nota2) / 2

if mediaFinal > 5:
  print(aluno, "você está APROVADO com", mediaFinal)
elif mediaFinal < 6:
  print(aluno, "voce está REPROVADO com", mediaFinal)

Digite o nome do aluno: João Silva
Digite a nota 1: 2
Digite a nota 2: 3
João Silva voce está REPROVADO com 2.5

In [ ]:
x = int (input("Digite um néumero: "))

if x > 50:
  print("É maior do que 50")
else:
  print("Não é maior do que 50")

Digite um néumero: 40
Não é maior do que 50

In [ ]:
opcao = int(input("Digite a opção 1, 2 ou 3: "))

if opcao == 1:
  print("Você escolheu a opção 1!")
elif opcao == 2:
  print("Você escolheu a opção 2!")
elif opcao == 3:
  print("Você escolheu a opção 3!")
else:
  print("Nenhuma das opções foram digitadas!")

Digite a opção 1, 2 ou 3: 4
Nenhuma das opções foram digitadas!

# Comparações com Estruturas Condicionais

In [ ]:
num1 = float(input("Digite um número: "))
num2 = float(input("Digite outro número: "))
op = input("Digite a operação desejada: +. -, *,/ ")

if op == "+":
  resultado = num1 + num2
elif op == "-":
  resultado = num1 - num2
elif op == "*":
  resultado = num1 * num2
elif op == "/":
  resultado = num1 / num2

print("\nO resultado é: ", resultado)

Digite um número: 1550
Digite outro número: 500
Digite a operação desejada: +. -, *,/ -

O resultado é:  1050.0

# Operadores lógicos

In [ ]:
x = True
y = True

if (x == True & y == True):
  print("Correto. Todos os valores são verdadeiros.")
else:
  print("Errado. Há algum valor falso na expressão.")

Correto. Todos os valores são verdadeiros.

In [ ]:
( 8 > 10 ) & ( 18 == 19)

False

In [ ]:
not ( 8 > 7)

False

In [ ]:
( 25 > 20 ) or (8 != 8)

True

# Método FORMAT

In [ ]:
nome = input("Digite o seu nome: ")
dia = int(input("QUal dia você nasceu? "))
mes = int(input("Qual mês você nasceu? "))
ano = int(input("Qual o ano você nasceu? "))
cidade = input("Qual cidade você nasceu? ")

print("\nOlá", nome, ", você nasceu em" ,cidade, "no dia", dia, "/", mes, "/", ano)

Digite o seu nome: Henrique Leunam
QUal dia você nasceu? 12
Qual mês você nasceu? 07
Qual o ano você nasceu? 1999
Qual cidade você nasceu? São Paulo

Olá Henrique Leunam , você nasceu em São Paulo no dia 12 / 7 / 1999

In [ ]:
nome = input("Digite o seu nome: ")
dia = int(input("QUal dia você nasceu? "))
mes = int(input("Qual mês você nasceu? "))
ano = int(input("Qual o ano você nasceu? "))
cidade = input("Qual cidade você nasceu? ")

print("\nOlá {}, você nasceu na cidade {}, no dia {}/{}/{}".format(nome, cidade, dia, mes, ano))

Digite o seu nome: Henrique Leunam
QUal dia você nasceu? 12
Qual mês você nasceu? 07
Qual o ano você nasceu? 1999
Qual cidade você nasceu? São Paulo

Olá Henrique Leunam, você nasceu na cidade São Paulo, no dia 12/7/1999

In [ ]:
valor = 4.6521452
print("Valor arredondado: {:.2f}".format(valor))

Valor arredondado: 4.65

# Exercícios de Fixação 2

In [ ]:
numero = input("Digite o número desejado: ")

impar = True
Par = False

if impar = True
  print("O número digitado é impar: ")
else:
  print("O número digitado é par: ")

# Laços de Repetição - FOR e ELSE

In [ ]:
lista = [10, "ovo", 30, "tomate"]

for i in lista:
    print(i)

10
ovo
30
tomate

In [ ]:
frutas = ["abacaxi", "morango", "uva","melancia", "mamão","maracujá"]

for k in frutas:
    print(k)

abacaxi
morango
uva
melancia
mamão
maracujá

In [ ]:
times = ["Atlético Mg", "São Paulo", "Ceará", "Fortaleza","Spot","Grêmio"]

for x in times:
    print(x)
else:
    print("Todos os itens da lista foram inpressos!")

Atlético Mg
São Paulo
Ceará
Fortaleza
Spot
Grêmio
Todos os itens da lista foram inpressos!

# Laço de Repetição - WHILE

In [ ]:
iteracoes = 1

while (iteracoes < 11):
  print(iteracoes)
  iteracoes = iteracoes + 1

In [ ]:
resposta = "sim"

while (resposta == "sim"):
  print("Você pode escrever?")
  resposta = input("Digite sim ou não: ").lower()

if (resposta == "não"):
  print("Tudo bem. Código encerrado")

Você pode escrever?
Digite sim ou não: não
Tudo bem. Código encerrado

In [ ]:
nome = "PythoN".lower()
print(nome)

python

In [ ]:
nome.upper()

'PYTHON'

In [ ]:
"matheus".upper()

'MATHEUS'

In [ ]:
"matheus".islower()

True

In [ ]:
"Matheus".islower()

False

In [ ]:
"MATHEUS".isupper()

True

# Laço de Repetição - While e ELSE

In [ ]:
caractere = bool (input("Digite qualquer caractere: "))  # Para deixar vazio, tecle ENTER

while (caractere == True):
  print("Pelo menos um caractere foi inserido")
  break
else:
  print("Nenhum caractere foi inserido")

Digite qualquer caractere: A
Pelo menos um caractere foi inserido

# Estrutura Aninhadas

In [ ]:
# Estruturas aninhadas acontecem quando temos duas condições uma em baixo da outra

In [ ]:
idade = int(input("Digite sua idade: "))
sexo = input("Digite o seu sexo: masculino ou feminino: ").lower()

#bloco 1
if (sexo == "masculino"):
  #bloco 1.1
  if(idade >= 18):
    print("Homem maior de idade")
  else:
    print("Homem menor de idade")
#bloco 2
elif (sexo == "feminino"):
  #bloco 2.1
  if(idade >= 18):
    print("Mulher maior de idade")
  else:
    print("Mulher menor de idade")
#bloco 3
else:
  print("Sexo inválido")

Digite sua idade: 18
Digite o seu sexo: masculino ou feminino: masculino
Homem maior de idade

# Introdução as Listas

In [ ]:
ExemploLista = ["A","B","C","D"]
print(ExemploLista)

['A', 'B', 'C', 'D']

In [ ]:
lista = ["ovo", 1.34, 10, True]
print(lista)

['ovo', 1.34, 10, True]

In [ ]:
lista[2] # O número da posição dos elementos de uma lista inicia no "0"

10

In [ ]:
lista[0]

'ovo'

In [ ]:
print(lista)

['ovo', 1.34, 10, True]

In [ ]:
lista[1] = "batatinha" #substituir valor na lista
print(lista)

['ovo', 'batatinha', 10, True]

In [ ]:
carros = ["Gol","Jaguar","Palio","Fox","Celta"]

print(carros[-2])
print(carros[-4])

Fox
Jaguar

In [ ]:
numeros = [1, 2, 3, 4, 5]

for x in numeros:
  print(x)

1
2
3
4
5

In [ ]:
lista1 = ["papel", "uva", False, 1.90]
lista2 = ["notebook","bolacha","garrafa", 5231]
concatenar = lista1 + lista2

print(concatenar)

['papel', 'uva', False, 1.9, 'notebook', 'bolacha', 'garrafa', 5231]

In [ ]:
print("uva" in concatenar) # Verificar se o valor uva consta na lista de "concatenar"

True

In [ ]:
print("maça" in concatenar) # Verificar se o valor maça consta na lista de "concatenar"

False

In [ ]:
letras = ["A","B","C","D","E","F","G"]

print(letras[:3]) #Retorna somente três elementos da lista.
print(letras[:]) # Retorna a impressão da lista inteira.
print(letras[2:]) #Retorna a impressão do segundo elemento até o final.
print(letras[2:5]) #Retorna a impressão dos valores entre um intervalo.

['A', 'B', 'C']
['A', 'B', 'C', 'D', 'E', 'F', 'G']
['C', 'D', 'E', 'F', 'G']
['C', 'D', 'E']

# Métodos de Listas - APPEND, INDEX, INSERT, REMOVE

In [ ]:
lista = []

lista.append("arroz")
lista.append(3.14)
lista.append(True)
lista.append(3*4)

print(lista)

['arroz', 3.14, True, 12]

In [ ]:
numeros = []
contador = 0

while contador < 4:
  x = int(input("Digite um número: "))
  numeros.append(x)
  contador+= 1
  print(numeros)

Digite um número: 1
[1]
Digite um número: 2
[1, 2]
Digite um número: 3
[1, 2, 3]
Digite um número: 4
[1, 2, 3, 4]

In [ ]:
print(lista)

['arroz', 3.14, True, 12]

In [ ]:
lista.index("arroz")

0

In [ ]:
lista.index(3.14)

1

In [ ]:
print(lista)

['arroz', 3.14, True, 12]

In [ ]:
print(lista)
lista.insert(2,"garrafa")
print(lista)

['arroz', 'garrafa', 'garrafa', True, 12]
['arroz', 'garrafa', 'garrafa', 'garrafa', True, 12]

In [ ]:
print(lista)
lista.remove("arroz")

print(lista)

['arroz', 'garrafa', 'garrafa', 'garrafa', True, 12]
['garrafa', 'garrafa', 'garrafa', True, 12]

# Introdução as Bibliotecas

In [2]:
import keyword
print(keyword.kwlist) #Comando para exibir todos os valores proibidos do Phyton.

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
dir(keyword) #Comando para exibir todas as funções disponíveis de uma tabela.

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'issoftkeyword',
 'kwlist',
 'softkwlist']

In [ ]:
import time